<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noin. A coin that says nein.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

  <h1>Noin</h1>
  <p>A coin that says <a href="/noin"><em>nein</em></a>.</p>
  <p>---------------------------------</p>

<!--  <img src="./img/bartleby-the-scrivener.png" alt="Bartleby the scrivener">-->
<!--  <img src="./img/noin-noin.png" alt="NOIN ... NOIN!">-->

<!--  <p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->

  <img src="{{ url_for('static', filename='img/every-time-noining.png') }}" alt="how noin is created" id="create-noins">
  <img src="{{ url_for('static', filename='img/jurij-noining.JPG') }}" alt="jurij mining noins" id="create-noins">


</body>
</html>
