<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Noin. A coin that says nein.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

  <h1>Noin</h1>
  <p>A coin that says <a href="/noin"><em>nein</em></a>.</p>

  <p>---------------------------------</p>

  <p>
    Doing nothing. Let’s do nothing. /////// Proof of non-work. Proof of inactivity. Proof of laziness.
    <span class="lazy">A new consensus protocol for the non-productive world.</span> /////// Is doing nothing an activity?
    Defying gravity is an activity. /////// <span class="lazy">Noin is the fliplisde of money.</span> ///////
  Value prop: paying someone to NOT do something. We are all in situations where we want people to not do something.
    Every day probably.
  This is where noin gets value from. /////// Startups and startdowns. Stop being profitable.
  Jukebox you have to pay to stop playing songs. A NO button. Destroy a product to earn noin? ///////
    <span class="lazy">What are you doing today? Nothing, I’m just noining.</span>
  Are there health risks involved in noin? Warning: too much noin can lead to early death. A laziness machine.
  Currency for non-productivity. Non-profitable action. We will loose money on this. Let’s do it. ///////
  Things to track: physical activity, brain activity, emotions, bank accounts. A slow economy earns the most noin.
  The laziest person is the most valuable member of the noin economy.
  Monitor brain activity with EEG bands (noin bands). Monitor bodily inactivity with “Fatbits”.
  Integrate CCTV and use machine vision to classify types of activity and non-activity. ///////
  Negativity is very noin-esque. Positive and affirmative attitude aren’t. ///////
  The difference machine and the sameness machine. The goal is to slow things down. Deceleration.
  The goal is to generate sameness, in a way. But even dreaming often comes with increased brain activity.
    <span class="lazy">Dreaming is not allowed.</span> ////// Noin fest. A festival where people don’t show up.  ///////
    <span class="tiny">Should noin be denominated in very small numbers, is for example 0,0000000000000012 a lot of noin?</span>
  Should there be an inversion of the usual imaginary of scale related to money (it lives as billions, trillions, etc.)?
  /////// How to mine noin? Create "how to" Youtube videos. ///////
  John’s has a ticket machine. Let’s make it transparent and install a shredder, so you can see how money exchanged
  for noin gets destroyed? /////// Noin evangelists are de-motivational speakers. /////// What is non-activity?
  What is non-productivity? Also non-profitability? /////// <span class="tiny">We could take it seriously and seriously seek
    VC money to ship this. The narrative just needs a wellness spin.</span> /////// Noin as an alibi - I didn’t do that,
  look I mined some noin back then. /////// People can connect in groups to earn more noins. Some states are mining
    noins faster than others. Same goes for companies, and so on. /////// People can start their noin DAOs. In future,
  companies will pay people to do nothing (i.e. mine noins). In a world of over-production, not doing something is the
    most productive thing you can do. <span class="lazy">Every state and every company will have a noin-producing "workforce".</span>
  There is space for corporate warfare here (pay all employees of a company to do nothing). ///////
    <span class="tiny">We need a quant fund (or more) that accumulates fiat value and locks it
      into the noin system so it’s impossible to get it out.</span>
    <span class="lazy">We need the highest forms of capitalism to live as mediums of noin.</span>
    /////// Conversion between money and noin is one-way only. One can buy noin with €£$¥ but can't buy €£$¥ with noin.
    <span class="lazy">Noin is eating the monies.</span> /////// <span class="lazy">We are not working here.
    I am out of office. Don't get too ambitious.</span>  >>>

<!--  Doing nothing. Let’s do nothing. /////// Proof of non-work. Proof of inactivity. Proof of laziness.-->
<!--  A new consensus protocol for the non-productive world. /////// Is doing nothing an activity?-->
<!--  Defying gravity is an activity. ///////-->
<!--  Value prop: paying someone to NOT do something. We are all in situations where we want people to not do something.-->
<!--    Every day probably.-->
<!--  This is where noin gets value from. /////// Startups and startdowns. Stop being profitable. Being noin-profitable.-->
<!--  Jukebox you have to pay to stop playing songs. A NO button. Destroy a product to earn noin? ///////-->
<!--  What are you doing today? Nothing, I’m just noining.-->
<!--  Are there health risks involved in noin? Warning: too much noin can lead to early death. A laziness machine.-->
<!--  Currency for non-productivity. Non-profitable action. We will loose money on this. Let’s do it. ///////-->
<!--  Things to track: physical activity, brain activity, emotions, bank accounts. A slow economy earns the most noin.-->
<!--  The laziest person is the most valuable member of the noin economy.-->
<!--  Monitor brain activity with EEG bands (noin bands). Monitor bodily inactivity with “Fatbits”.-->
<!--  Integrate CCTV and use machine vision to classify types of activity and non-activity. ///////-->
<!--  Negativity is very noin-esque. Positive and affirmative attitude aren’t. ///////-->
<!--  The difference machine and the sameness machine. The goal is to slow things down. Deceleration.-->
<!--  The goal is to generate sameness, in a way. But even dreaming often comes with increased brain activity.-->
<!--  Dreaming is not allowed. ////// Noin fest. A festival where people don’t show up.  ///////-->
<!--  Should noin be denominated in very small numbers, is for example 0,0000000000000012 a lot of noin?-->
<!--  Should there be an inversion of the usual imaginary of scale related to money (it lives as billions, trillions, etc.)?-->
<!--  /////// How to mine noin? Create "how to" Youtube videos. ///////-->
<!--  John’s has a ticket machine. Let’s make it transparent and install a shredder, so you can see how money exchanged-->
<!--  for noin gets destroyed? /////// Noin evangelists are de-motivational speakers. /////// What is non-activity?-->
<!--  What is non-productivity? Also non-profitability? /////// We could take it seriously and seriously seek-->
<!--  VC money to ship this. The narrative just needs a wellness spin. /////// Noin as an alibi - I didn’t do that,-->
<!--  look I mined some noin back then. /////// People can connect in groups to earn more noins. Some states are mining-->
<!--  noins faster than others. Same goes for companies, and so on. /////// People can start their noin DAOs. In future,-->
<!--  companies will pay people to do nothing (i.e. mine noins). In a world of over-production, not doing something is the-->
<!--    most productive thing you can do. Every state and every company will have a noin-producing workforce.-->
<!--  There is space for corporate warfare here (pay all employees of a company to do nothing). ///////-->
<!--    We need a quant fund (or more) that accumulates fiat value and locks it-->
<!--  into the noin system so it’s impossible to get it out. We need the highest forms of capitalism to live as mediums of noin.-->
<!--    /////// Conversion between money and noin is one-way only. One can buy noin with €£$¥ but can't buy €£$¥ with noin.-->
<!--    Noin is eating the monies. /////// We are not working here.-->
<!--  I am out of office. Don't get too ambitious.  >>>-->

  </p>

</body>
</html>
